@use '../abstracts/' as *;

.main {
    margin-right: 3rem;
    padding-inline: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    @include responsive(lgdesktop) {
        // overflow-x: unset;
        margin-right: 0rem;
        padding-inline: 1rem;
    }

    &:has(p) {
        white-space: nowrap;
    }
    // .filter {
    //     margin-bottom: 3rem;
    //     @include filterTop;

    //     &__subCarrier,
    //     &__carrier,
    //     &__serviceType {
    //         position: relative;
    //         @include dropDown;
    //         .tags {
    //             @include tags;
    //         }
    //         p {
    //             white-space: nowrap;
    //         }
    //     }

    //     &__markup,
    //     &__tariffDescription {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-around;
    //         p {
    //             white-space: nowrap;
    //         }
    //     }

    //     &__markup,
    //     &__tariffDescription {
    //         .titleFilterSpecial {
    //             @include filterSpecial();
    //         }
    //         .tags {
    //             @include tags;
    //         }
    //     }
    // }
}

